# FastQC reports
results/

# Reference genome
reference/

# STAR index
reference/STAR_index/

# Alignment files
*.sam
*.bam
*.bai

# Temporary files
*.tmp
*.log

mini_dataset/star_index/
mini_dataset/star_index/
mini_dataset/alignment/
mini_dataset/counts/
